<!-- fileupload/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Company{% endblock %}</title>
  </head>
  <body>
    <div>
      <div>
        <span>My Company Name</span>
      </div>
      <div>
        <a href="{% url 'upload_file' %}">Upload Files</a>
      </div>
    </div>
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
